head,body,html{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.top{
    width: 100%;
    height: 40px;
    background-color: #030303;
    color: #C5CACD;
    font-size: 0.8em;
    /*padding-top: 10px;*/
    margin: 0 auto;
}
.top_1{
    margin-left: 10%;
    width: 80%;
    height: 20px;
    padding: 10px;
}
.top_left{
    float:left;
}
.top_right{
    float:right;
}
.top2{
    width: 100%;
    height: 80px;
    background-color: #30352F;
    color: black;
    font-size: 0.8em;
    margin: 0 auto;
}
.top_2{
    margin-left: 10%;
    width: 80%;
    height: 60px;
    padding: 10px;
}
.top_2 img{
    width: 200px;
    height: 60px;
}

.box{
    float: right;
    position: relative;
    margin-top: 15px;
}
.search-icon{
    background: url(../Images/search.png) no-repeat;
    width:25px;
    height: 25px;
    display:block;
    float: left;
    position: absolute;
    left: 5px;
    top: 5px;
}
.search-input{
    font-size:0.875em;
    padding:.3em 2em .3em 3em;
    border:2px solid rgb(241,202,126);
    width: 200px;
    height: 33px;
}

.btn{
    border: none;
    position:absolute;
    left: 160px;
    top:2px;
    height: 29px;
    width: 38px;
    display:inline-block;
    padding:.3em .5em .3em;
    font-family:"Avenir LT W01 65 Medium", Arial, Helvetica, sans-serif;
    color:#4997d2;
    background: #fff;
}
.btn:hover{
    cursor:pointer;
    background-color:#4997d2;
    color:white
}

.content{
    width: 100%;
    height: 900px;
    background-color: #EDECF1;
    border-top: 1px solid black;
}
.content_left{
    float: left;
    width: 50%;
    height: 878px;
    margin-left: 10%;
    margin-top: 20px;
    background-color: #FFFFFF;
}
.content_left_top{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #F8F8F8;
    padding-left: 3%;
    border: 1px solid #DBDBDD;
}

.content_left_content{
    float: left;
    width: 45%;
    height: 400px;
    margin-left: 3%;
    margin-top: 30px;
}
.content_left_content_top{
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
.content_left_content_top_left{
    float: left;
}
.content_left_content_top_right{
    float: right;
}
ul,li{
    padding: 0;
    margin: 0px;
    list-style:none;
}
a{
    text-decoration:none;
    color: #2D64B3;
}
.content_left_content hr{
    margin-left: 20px;
    margin-right: 20px;
    color: #DBDBDD;
}
.content_left_content_content{
    margin-left: 20px;
    margin-right: 20px;
}
.content_left_content_content li{
    padding-bottom: 30px;
}
.content_left_content_content_left{
    float: left;
}
.content_left_content_content_right{
    float: right;
}

.content_right{
    float: right;
    width: 27%;
    height: 800px;
    margin-right: 10%;
    margin-top: 20px;
    background-color: #EDECF1;
}
.content_right_box{
    background-color: #FFFFFF;
    margin-bottom: 30px;
}
.content_right_top{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #F8F8F8;
    padding-left: 3%;
    border: 1px solid #DBDBDD;
    font-size: 0.8em;
}
.content_right_content{
    padding: 10px;
    font-size: 0.8em;
}
.content_right_content li{
    padding-bottom: 10px;
}



.bottom{
    width: 100%;
    height: 80px;
    background-color: #30352F;
    color: black;
    font-size: 0.8em;
    margin: 0 auto;
    z-index: 1;
}
.bottom_1{
    margin-left: 10%;
    width: 80%;
    height: 60px;
    padding: 10px;
}
.bottom_1 img{
    width: 200px;
    height: 60px;
}